/* AddUser.css */

.EditUserPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the page takes full height */
  }
  
  .EditUserDiv {
    background-color: #D9D9D9;
    width: 70%;
    max-width: 600px; /* Set a maximum width to prevent the form from becoming too wide on larger screens */
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .EditUserHead {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1.5rem; /* Increased margin for better spacing */
  }
  
  .Inputlabel {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .Input {
    width: 100%;
    max-width: 100%; /* Ensure the input fields are responsive */
    padding: 10px; /* Increased padding for better touch targets */
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
  }
  
  .submitBtn {
    width: 100%;
    padding: 12px; /* Increased padding for better touch targets */
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .EditUserDiv {
      width: 90%;
    }
  }
  