.WishHead{
    color: #2B83B5;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 24px; /* 50% */
}

.WishLists{
    padding-left: 2rem;
    padding-right: 2rem;
}

.list{
    width: 100%;
    flex-shrink: 0;
    background-color: #D9D9D9;
    margin-bottom: 1rem;
}

.ProductImg{
    margin: 1rem;
    height: 167px;
}

.ProductName{
    padding-top: 2rem;
}

.ProductDetail{
    color: grey;
}
