.WishHead{
    font-family: Inter;
    font-size: 28px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 50% */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgb(214, 7, 7);
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 24px; /* 50% */
}

.WishLists{
    padding-left: 2rem;
    padding-right: 2rem;
}

.list{
    width: 100%;
    flex-shrink: 0;
    background-color: #D9D9D9;
    margin-bottom: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.list:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ProductImg{
    margin: 1rem;
    height: 167px;
    border-radius: 10px;
}

.ProductName{
    padding-top: 2rem;
}

.ProductDetail{
    color: grey;
}

.deleteWished{
    cursor: pointer;
    color: #999;
    transition: color 0.3s ease-in-out;
}

.deleteDiv{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding-top: 0.5rem;
    justify-content: center;
}

.deleteWished:hover{
    color: #d60707;
    transform: scale(1.2);
}