.CheckOutPage{
    display: flex;
    justify-content: center;
}
.CheckOutDiv{
    background-color: #d9d9d9;
    width: 80%;
    border-radius: 25px;
    padding-bottom: 2rem;
}
.CheckOutHead{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.CheckOutImgDiv{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
.CheckOutImg{
    border-radius: 20px;
    width: 90%;
}
.ProductDetailsDiv{
    background-color: rgba(185, 183, 183, 0.781) ;
    width: 90%;
    /* height: 40vh; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.Product{
    font-weight: 800;
    font-size: larger;
}
.CheckOutDetailsDiv{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
.CheckOutDetails{
    background-color: rgba(185, 183, 183, 0.781);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    border-radius: 20px;
    padding: 1rem;
}
.ChangeBtn{
    display: flex;
    justify-content: end;
    margin: 1rem;
}
.PlaceBtn{
    display: flex;
    justify-content: center;
}