.Navbar {
  background-color: #D9D9D9;
  margin-bottom: 1rem;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #2B83B5;
  font-weight: 800;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menus {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 15px; /* Adjust margin as needed */
}

.Menus:hover {
  background-color: #fff;
  border-radius: 5px;
}


.profile:hover {
  color: #D9D9D9;
  background-color: #fff;
  border-radius: 5px;
}

.menuBtn {
  cursor: pointer;
}

.menuBtn:hover {
  background-color: #fff;
  border-radius: 5px;
}

.Menus span {
  margin-left: 5px; /* Adjust margin as needed */
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
}

.search-icon {
  position: absolute;
  left: 10px; /* Adjust the left position as needed */
}

.searchBar {
  padding-left: 30px; /* Adjust the padding to leave space for the icon */
  width: 80%; /* Make the search bar take full width */
  border-radius: 5px;
  border-color: white;
  border-style: dashed;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .Menus {
    margin-right: 10px; /* Adjust margin for smaller screens */
  }

  .searchBar {
    width: 100%; /* Take full width on smaller screens */
    max-width: none; /* Remove max-width on smaller screens */
  }
}

.custom-menu-content {
  position: absolute;
  top: calc(100%);
  left: 1; 
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}
.custom-menu-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-menu-content li {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.custom-menu-content li:hover {
  background-color: #f0f0f0; 
}


.custom-menu-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-menu-content li {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.custom-menu-content li:hover {
  background-color: #f0f0f0; 
}
