/* Common styles */
.LoginPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BackBtn {
    background-color: #D9D9D9;
    border-radius: 5px;
    width: 9rem;
    height: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
}

.BackBtn p {
    margin: 0;
    margin-left: 10px;
}

.LoginDiv {
    background-color: #D9D9D9;
    width: 35%;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logoImg {
    margin-top: -50px;
    text-align: center;
}

.form-group {
    margin-bottom: 0.5rem;
}

.Inputlabel {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.Input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}

.submitBtn,
.SignUpBtn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.submitBtn:hover,
.SignUpBtn:hover {
    background-color: rgb(82, 99, 245);
}

.SignUpDiv {
    text-align: center;
    color: #3498db;
}

.SignUpBtn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(82, 99, 245);
    color: white;
    border: none;
    cursor: pointer;
}

.SignUpBtn:hover {
    background-color: #3498db;
    
}

/* Responsive styles */
@media (max-width: 768px) {
    .LoginPage {
        flex-direction: column;
        align-items: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .BackBtn {
        margin: 10px auto;
        position: static;
    }

    .LoginDiv {
        width: 80%;
    }

    .logoImg {
        margin-top: 0;
    }
}
